/* Styles for the pokedex tab */

/* card margins used to space the card appropriately */
.card-margins{
    margin-top:5rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
/* changing the sizes of the images */
.image-margins{
    width: 8rem;
    

}
/* changing the alignments of the contents within the card */
.card-align{
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}
/* styles for the card body */
.body-styles{
    width: 19rem;

}
/* button styles */
.button-margins{
        margin-left: 1rem;
}