/* Styles for the pokedex tab */

/* card margins used to space the card appropriately */
.card-margins{
    margin-top:5rem ;
}

.image-margins{
    width: 5rem;
    height: 5rem;

}

.card-margins{



}