@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* specifically for profile name and image */
.main-profile-styles{
    display: flex;
    width: 18rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    position: relative;
    top: -10%;
    left: -3%;
    border-radius: 1rem;
}

.profile-container{
    height: 100vh;
    width: 70rem;
 
}

.text-lineup{
    position: relative;
   
   top: 20%;
   height: 35rem;
   
   background-color: white;
   border: 1px solid black;
   border-radius:2rem ;
}
/* for any text that would be good for digital text */
.digi-text{
    font-family: 'VT323', monospace;

}
.main-ProfileImage{
    border-radius: 50%;
    height:11rem;
    width: 12rem;
    
}
/* Edit Profile styles */
.main-ProfileImage:hover{
    opacity: 50%;
    transition-duration:1s ;
    cursor: pointer;
}
.edit-profile-text{
    position: relative;
    bottom: 55%;
    left: 10%;
    opacity: 0%;
    font-weight: 700;
    font-size: 1.4rem;
    color: black;
    width: 10rem;
    display: flex;
    justify-content: center;
}
.edit-profile-text:hover{
    opacity: 100%;
    transition-duration:1s ;
}
.edit-profile:hover{
    opacity: 50%;
    transition-duration:1s;
}
.edit-profile{
    height: 12rem;
}
.edit-profile-button{
    width: 15rem;
}

/* view pokemon button */

.view-pokemon{
    position: relative;
    display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0rem;
   left:5%;
   bottom: 24%;
   width: 10rem;
}

/* styles for the progress */
.stat-bar{
    width: 40rem;
    position: relative;
    left: 30%;
    bottom: 50%;
}
.level-button{
    margin-top: 1rem;
}

/* Profile buttons (View likes Logout... etc) */


.main-profile-buttons-div{
    display: flex;
    position:relative;
    bottom: 20%;

    
}
