

/* specifically for profile name and image */
.main-profile-styles{
    display: flex;
    width: 18rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    position: relative;
    top: 5%;
    left: 10%;
    border-radius: 1%;
}

.container{
    height: 100vh;
}

.text-lineup{
    position: relative;
   left: 10%;
   top: 20%;
}


.main-ProfileImage{
    border-radius: 50%;
    height:10rem;
    width: 12rem;
}