.title{
    width:50rem;
    justify-content: space-between;
    position:absolute; 
    left: 31.5%; 
    top:18rem;
    margin:-100px 0 0 -150px;
    text-align: center;
    color: black;
   
    
}
/* alignment for div*/
.div-styles{
    display: flex;
}

.a-tag-styles{
    text-decoration: none;
    color: black;
}

.disabled{
    display: none;
}

@media screen and (max-width:450px){
        
        .iphone-xr{
            width: 18rem;
            flex-direction: column;
           

        }
        .title-iphone{
        height: 40rem;
        justify-content: space-between;
        position: absolute;
        left: 52%;
        top: 30%;
       
        margin: -100px 0 0 -150px;
        text-align: center;
        color: black;
    }
}
.card-body-width{
width: 18rem;

}

/* styles for arrow button */
.arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        height: .63rem;
        background-color: white;
    }
    /* right angled and left angled arrow button  */
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
p:hover{
    cursor: pointer;

}
    
.arrow-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.disable-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
 }

 .h_container{
    background-color: #cac7c7;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display: inline-block;
    width:35px;
    height:35px;
    text-align:center;
    line-height:45px;

}
#heart{
    font-size: 25px;
}
#heart:hover{
    color:red;
}
 /* to get the heart to the top right end of the card */
 .card-alignment{
    align-items: flex-end;
    
 }

 /* Button toolbar styles */

 .button-toolbar{
    display: flex;
    align-items: center;

 }

 .alert-styles{
    margin-top: 5rem;

 }