@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* game component */
.game-container{
    height: 100vh;
}

.center-content{
   position: fixed;
bottom: 0%; 
}
.center-button{
    position: fixed;
    bottom: 50%; 
}
.button-view{
    height: 100vh;
}
.align-start{
    display: flex;
    justify-content: center;
}
.pokemon-size{
    height: 8rem;
}

.margin-top{
    margin-top: 10rem;
}
.chat-box-styles{
    border: 1px solid black;
    border-radius: 2%;
    width: 20rem;
    height: 8rem;
    position: relative;
    top: 1rem;
    left: 2rem;
}
.ui{
    display: flex;
    flex-direction: row;
    background-color:rgba(100, 100, 100, .2);
    width: 100vw;
    height: 10rem;
    justify-content: space-between;
    border-top:1px solid black;

}
.ui-button-group{
    display: flex;
    flex-direction: column;
   
}
.ui-button{
    width:20rem;
    height:100%;
    font-weight: 900;
    color: white;
}
.chat-text{
   position: relative;
   left: 1rem;
   top: 1rem;
   font-family: 'VT323', monospace;
   font-size: 1.5rem;
}
.ui-buttons-all{
    display: flex;
}


/* buttons color */
.green{
    background-color: #4DAD5B;
    border: 1px solid green;
    opacity: .8;
    border-radius: 4%;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}
.green:hover{
    transition: .3s;
    opacity: 1;
}
.red{
    background-color: #E3350D;
    border: 1px solid darkred;
    opacity: .8;
    border-radius: 4%;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}
.red:hover{
    transition: .3s;
    opacity: 1;
}
.yellow{
    background-color: #FFCC00;
    border: 1px solid #ffd900;
    opacity: .8;
    border-radius: 4%;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}
.yellow:hover{
    transition: .3s;
    opacity: 1;
}
.blue{
    background-color: #1847D7;
    border: 1px solid darkblue;
    opacity: .8;
    border-radius: 4%;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}
.blue:hover{
    transition: .3s;
    opacity: 1;
}

.game-text{
    font-family: 'VT323', monospace;
}



/* this is the actual rendered game */
.enemy-side{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5rem;
    justify-content: space-between;
}
.enemy-info{
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid black;
    border-radius: 10% 20%;
    width: 20rem;
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rendered-game{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
}
.user-side{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.user-info{
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid black;
    border-radius: 10% 20%;
    width: 20rem;
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.poke-name-level{
    display: flex;
    justify-content: space-between;
}
/* go back button */
.go-back{
    width: 10rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: lightblue;
}
.attack{
    width: 10rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: lightcoral;
} 
/* attack toolbar */
.attack-toolbar{
    display: flex;
    flex-direction: column;
}
