
/* title class name is to center div */
.title{
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
    text-align: center;
    color: black;
}
/* main is considered for the highest level within my JSX */
.main{
    background-image: url("/public/images/pokebackgrounds.png") ;
    background-size:cover ;
    height: 94.2vh;
    background-position: center;

}
/* readjusting positioning on button */
.button{
    margin-top: 1rem;
}