.linksyle {
    text-decoration: none;
    color: rgba(255,255,255,.55);
    font-weight: 400;
}

/* change the styles of the nav buttons */
.text-decoration{
    text-decoration: none;
    color:aliceblue;
}

/* adding spacing to the nav button */
.margins{
    margin-right: .5rem;


}

.right-link{
    margin-left: -1.3rem;

}

.profile-styles{
    height: 2rem;
    width:2.1rem;
    border-radius: 50%;
}
@media screen and (max-width: 767px) {
    .profile-picture-styles{
        display: none;
    }
    .profile-name-styles{
        visibility: visible;
    }
}

@media screen and (min-width:767px){
    .profile-name-styles{
        visibility: hidden;
    }
}