.register-margins{
    
    width:20rem;
    position:absolute;
    left:50%;
    top:40%;
    margin:-100px 0 0 -150px;

}

.alert-margins{
    width: 30%;
    margin-top: 5rem;
    left:36%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:450px){
        
    .iphone-xr-alert{
        width: 18rem;
        left:16%;
    
    }
  
}